.navbar {
    height: 100%;
    width: 100%;
}

.navbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.is-active {
    color: var(--global-muted-color);
    text-decoration: underline;
}

.navbar-nav li {
    list-style-type: none;
}

.navbar-nav li a {
    font-family: 'PhagsPaBold';
}

.icon-group {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon-group a:not(:last-child) {
    margin-right: 25px;
}

.heading {
    padding-bottom: 35px;
}

.cart {
    display: flex;
    width: 100%;
    height: auto;
}

.cart-photo1, .cart-photo4{
    justify-content: flex-end;
    position: relative;
}

.cart-photo2, .cart-photo3 {
    position: absolute;
}

.cart-photo23 {
    position: relative;
    width: 750px;
    height: 790px;
    margin-top: -200px;
}

.cart-photo2 {
    top: 0;
    right: 200px;
}

.cart-photo3{
    top: 340px;
    left: 0;
}

.cart-photo4 {
    top: 90px;
    right: 150px;
}

.layout-photo .layout-item:first-child .cart-title {
    position: absolute;
    top: 350px;
    left: 500px;
}

.layout-photo .layout-item:nth-child(2) .cart-title {
    position: absolute;
    top: 350px;
    left: 450px;
    z-index: 10;
}

.layout-photo .layout-item:last-child .cart-title {
    position: absolute;
    top: 500px;
    right: 400px;
}

.square {
    position: absolute;
    top: 100px;
    left: 0;
}

.triangle {
    position: absolute;
    top: 400px;
    right: 0;
}

.circle {
    position: absolute;
    top: 300px;
    left: 150px;
}

.inverse {
    color: #fff;
}

.about, .contact {
    margin-right: 60px;
}

.feedback {
    display: flex;
    justify-content: space-between;
}

.feedback label {
    margin-right: 37px;
}

.mail {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.container-subfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: var(--global-muted-color);
}

.sidebar {
    display: flex;
    width: 100%;
    padding-top: 75px;
}

.product-menu {
    display: flex;
    flex-direction: column;
}

.product-menu li{
    list-style-type: none;

}

ul.product-menu > li {
    font-size: 18px;
    font-family: PhagsPaBold;
    margin-bottom: 60px;
}

ul.product-menu > li:hover, ul.product-menu > li:focus, ul.product-menu > li:active {
    cursor: pointer;
    color: var(--global-muted-color);
}

ul.product-menu li > ul li a{
    font-family: OswaldRegular;
}

.breadcrumbs {
    margin-bottom: 75px;
}

.breadcrumbs ul{
    display: flex;

}

.breadcrumbs li {
    list-style-type: none;
}

.breadcrumbs li:not(:last-child):after{
    content: "/";
    margin-left: 8px;
}

.breadcrumbs li:hover, .breadcrumbs li:focus, .breadcrumbs li:active {
    color: var(--global-muted-color);
    cursor: pointer;
}

li.is-active {
    text-decoration: none;
}

.breadcrumbs ul li:not(:last-child) {
    margin-right: 8px;
}

.cart-product {
    position: relative;
    flex-direction: column;
    padding-bottom: 60px;
}

.cart-product-hover, .cart-like-hover {
    flex-direction: column;
    padding-right: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 20px 24px 37px -23px rgba(189,182,189,1);
    -moz-box-shadow: 20px 24px 37px -23px rgba(189,182,189,1);
    box-shadow: 20px 24px 37px -23px rgba(189,182,189,1);
   }

.cart-product-price {
    position: absolute;
    left: 0;
    top: 60%;
    transform: rotate(-90deg);
}

.cart-product-hover .cart-title h3{
    font-family: OswaldRegular;
}

.cart-product-hover .cart-title p{
    margin-top: 5px;
}

.cart-product-hover .cart-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-icons {
    position: absolute;
    top: 20px;
}

.cart-product:not(:hover) .cart-product-hover, .cart-product:not(:hover) .cart-like-hover{
    display: none;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination ul {
    display: flex;
}

.pagination li {
    list-style-type: none;
}

.pagination li:not(:last-child) {
    margin-right: 25px;
}

.quantity-nav {
    display: inline-block;
    color: #222;
    padding: 6px 14px;
    cursor: pointer;
}

.single-product-heading, .single-product-price, .single-product-description {
    margin-bottom: 50px;
}

.single-product-price {
   font-family: PhagsPaBold;
}

.single-product-colour, .single-product-quantity {
    margin-bottom: 60px;
}

.single-product-colour label {
    margin-right: 60px;
}

.single-product-quantity label {
    margin-right: 50px;
}

.single-product-colour, .single-product-quantity, .counter-buttons {
    display: flex;
    align-items: center;
}



.counter-nav-prev, .counter-nav-next, .counter-buttons .product-colour{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    min-height: 40px;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 0;
}

.counter-buttons .product-colour {
    background: #f2cbcd;
}

.single-product-colour .counter-nav-prev {
    background: #f2f1bb;
}

.single-product-colour .counter-nav-next {
    background: #d2ebef;
}

.single-product-colour .counter-nav-prev:hover,
.single-product-colour .counter-nav-next:hover,
.single-product-colour .counter-nav-prev:focus,
.single-product-colour .counter-nav-next:focus,
.single-product-colour .counter-nav-prev:active,
.single-product-colour .counter-nav-next:active,
.single-product-colour .counter-nav-prev:checked,
.single-product-colour .counter-nav-next:checked{
    border: 1px solid #000;
}

.single-product-colour .counter-buttons .counter-value {
    background: #f2cbcd;
}

.single-product-quantity .counter-nav-prev, .single-product-quantity .counter-nav-next{
    background: #fff;
    color: #000;
}

.single-product-quantity .counter-nav-prev {
    border-right: 1px solid #000;
}

.single-product-quantity .counter-nav-next {
    border-left: 1px solid #000;
}

.single-product-quantity .counter-buttons {
    border: 1px solid #000;
}

.button-group {
    display: flex;
    align-items: center;
}

.button-group .button {
    margin-right: 30px;
}

.button-group a {
    padding: 17px 30px;
    background: #000;
}

.button-group svg.icon-heart {
    fill: #fff;
}

.container-like .heading {
    margin-bottom: 60px;
}

.container-like .cart-product {
    padding-bottom: 0;
}

.container-like .cart-product-price {
    font-size: 18px;
    font-family: PhagsPaBold;
    top: 40%;
}

.container-like .cart-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

.container-like .cart-title .title{
    font-size: 16px;
}

.container-like .cart-title .description {
    font-size: 12px;
}

.cart-like-hover .cart-title {
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;

}

.cart-like-hover .icon-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-like-hover .icon-group svg.icon-shopping-bag {
    margin-right: 25px;
}

.single-product-image {
    display: flex !important;
    justify-content: center !important;
}