.layout {
    display: flex;
    width: 100%;
}

.layout-item {
    /*height: 100%;*/
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 20px;
}

.layout-header .layout-item, .layout-footer .layout-item {
    align-items: center;
}

.layout-footer .layout-item:first-child {
    justify-content: flex-start;
}

.layout-header .layout-item:nth-child(2), .layout-footer .layout-item {
    justify-content: center;
}

.layout-header .layout-item:last-child, .layout-footer .layout-item {
    justify-content: flex-end;
}

.layout-photo {
    flex-direction: column;
    align-items: center;
}

.layout-photo .layout-item {
    width: 100%;
    height: auto;
    position: relative;
}

.layout-photo .layout-item:first-of-type {
    justify-content: flex-end;
}

.layout-photo .layout-item:nth-child(2){
    padding-right: 250px;
}

.layout-photo .layout-item:nth-child(2), .layout-photo .layout-item:last-child {
    padding-top: 100px;
}

.layout-footer {
    align-items: center;
    justify-content: space-between;
}

.layout-product {
    justify-content: center;
}

.layout-product .layout-item:first-child {
    min-width: calc(100% / 4);
}

.layout-product .layout-item:last-child {
    width: calc(100% / 4 * 3);
    flex-direction: column;
    padding-left: 60px;
}

.layout-single-product .layout-item:first-child {
    width: calc(100% / 5);
    flex-grow: 1;
    flex-shrink: 0;
}

.layout-single-product .layout-item:nth-child(2), .layout-single-product .layout-item:last-child{
    width: calc(100% / 5 * 2);
    flex-grow: 1;
    flex-shrink: 0;
}

.layout-single-product .layout-item:last-child {
    padding-left: 100px;
}

.layout-single-product .layout-item:nth-child(2), .layout-single-product .layout-item:last-child{
    flex-direction: column;
}

.layout-contact {
    flex-direction: row;
}

.layout-contact .layout-item {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-contact {
    margin-bottom: 105px;
}





