.header {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-lookbook {
    padding-top: 170px;
    padding-bottom: 170px;
}

.footer {
    background: #000;
    padding-top: 87px;
    padding-bottom: 87px;
}

.subfooter {
    background: #000;
}

.section-product {
    flex-direction: column;
    padding-bottom: 170px;
}

.section-like {
    padding-top: 150px;
}

.section-single-product {
    padding-top: 50px;
}

.section-like {
    padding-bottom: 185px;
}

.section-wish {
padding-top: 90px;
padding-bottom: 160px;
}

.section-contact {
    padding-top: 80px;
    padding-bottom: 168px;
}
