.header {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-lookbook {
    padding-top: 170px;
    padding-bottom: 170px;
}

.footer {
    background: #000;
    padding-top: 87px;
    padding-bottom: 87px;
}

.subfooter {
    background: #000;
}

.section-product {
    flex-direction: column;
    padding-bottom: 170px;
}
